In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('./train.csv', low_memory=False)

In [3]:
test = pd.read_csv('./test.csv', low_memory=False)
saam = pd.read_csv('./sample_submission.csv', low_memory = False)

In [4]:
train.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color    type
0   0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1   1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2   2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3   4     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4   5     0.566117       0.875862     0.418594  0.636438  green   Ghost

In [5]:
test.head()

   id  bone_length  rotting_flesh  hair_length  has_soul  color
0   3     0.471774       0.387937     0.706087  0.698537  black
1   6     0.427332       0.645024     0.565558  0.451462  white
2   9     0.549602       0.491931     0.660387  0.449809  black
3  10     0.638095       0.682867     0.471409  0.356924  white
4  13     0.361762       0.583997     0.377256  0.276364  black

In [6]:
train.drop('id', axis = 1, inplace=True)

In [7]:
train.head()

   bone_length  rotting_flesh  hair_length  has_soul  color    type
0     0.354512       0.350839     0.465761  0.781142  clear   Ghoul
1     0.575560       0.425868     0.531401  0.439899  green  Goblin
2     0.467875       0.354330     0.811616  0.791225  black   Ghoul
3     0.776652       0.508723     0.636766  0.884464  black   Ghoul
4     0.566117       0.875862     0.418594  0.636438  green   Ghost

In [8]:
test.drop('id', axis=1, inplace=True)

In [10]:
train['color'].value_counts()

white    137
clear    120
green     42
black     41
blue      19
blood     12
Name: color, dtype: int64

In [13]:
tr_clr = pd.get_dummies(train['color'], drop_first=True)
te_clr = pd.get_dummies(test['color'], drop_first=True)

In [14]:
%config IPCompleter.greedy=True

In [15]:
train = pd.concat([train, tr_clr], axis = 1)
test = pd.concat([test, te_clr], axis = 1)

In [16]:
train.drop('color', axis = 1, inplace=True)
test.drop('color', axis = 1, inplace=True)

In [17]:
train.head()

,bone_length,rotting_flesh,hair_length,has_soul,type,blood,blue,clear,green,white
0,0.354512,0.350839,0.465761,0.781142,Ghoul,0,0,1,0,0
1,0.575560,0.425868,0.531401,0.439899,Goblin,0,0,0,1,0
2,0.467875,0.354330,0.811616,0.791225,Ghoul,0,0,0,0,0
3,0.776652,0.508723,0.636766,0.884464,Ghoul,0,0,0,0,0
4,0.566117,0.875862,0.418594,0.636438,Ghost,0,0,0,1,0

In [19]:
y = train['type']
x = train.drop('type', axis = 1)

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [39]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [40]:
clf.score(x_test, y_test)

0.6133333333333333

In [50]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier()
clf.fit(x_train, y_train)
clf.score(x_test, y_test)

0.7333333333333333

In [51]:
clf.fit(x, y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [52]:
pred = clf.predict(test)

In [53]:
saam['type'] = pred
saam.to_csv('pred.csv', index = False)